:root{
    --white-text: #fff;
    --background: #27d6e2;
    --black-text: rgb(68, 66, 66);
}

.background2-left-column{
    background: linear-gradient(180deg, #18a718 #c4e7c4);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

body{
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card{
    background-color: var(--white-text);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0, 0, 0.2);
    display: flex;
    margin: 1.5rem;
    overflow: hidden;
    width: 80%;
    height: 80%;
}

.left-column{
    color: var(--background);
    padding: 50px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right-column{
    padding: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.button{
    border-radius: 3rem;
    box-shadow: 0 5px 5px rgba(0,0, 0, 0.2);
    color: #ee7716;
    font-size: 1.2rem;
    padding: .8rem 1.5rem;
    letter-spacing: .1rem;
    align-self: center;
    justify-content: space-between;
}

@media (max-width: 1030px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
}
